.env
# Node modules
node_modules


# Ignore node_modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Ignore env files
.env
backend/.env
frontend/.env

# Ignore build output
frontend/dist/